registry=https://pkgs.dev.azure.com/grupo-inlog/a3f6bb22-14ee-4af8-a96d-05e885794690/_packaging/Inlog_Packages/npm/registry/

always-auth=true

; begin auth token
//pkgs.dev.azure.com/grupo-inlog/a3f6bb22-14ee-4af8-a96d-05e885794690/_packaging/Inlog_Packages/npm/registry/:username=npm_token
//pkgs.dev.azure.com/grupo-inlog/a3f6bb22-14ee-4af8-a96d-05e885794690/_packaging/Inlog_Packages/npm/registry/:_password=ZXR4MnVzZTVzZGVkbm8zejVveW5zcjM3b3pmM2dhdzJhMnVka2Z6dGd4dzRxY2FzNnZ6cQ==
//pkgs.dev.azure.com/grupo-inlog/a3f6bb22-14ee-4af8-a96d-05e885794690/_packaging/Inlog_Packages/npm/registry/:email=NONE
//pkgs.dev.azure.com/grupo-inlog/a3f6bb22-14ee-4af8-a96d-05e885794690/_packaging/Inlog_Packages/npm/:username=npm_token
//pkgs.dev.azure.com/grupo-inlog/a3f6bb22-14ee-4af8-a96d-05e885794690/_packaging/Inlog_Packages/npm/:_password=ZXR4MnVzZTVzZGVkbm8zejVveW5zcjM3b3pmM2dhdzJhMnVka2Z6dGd4dzRxY2FzNnZ6cQ==
//pkgs.dev.azure.com/grupo-inlog/a3f6bb22-14ee-4af8-a96d-05e885794690/_packaging/Inlog_Packages/npm/:email=NONE
; end auth token

