registry=https://pkgs.dev.azure.com/grupo-inlog/a3f6bb22-14ee-4af8-a96d-05e885794690/_packaging/Inlog_Packages/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/grupo-inlog/a3f6bb22-14ee-4af8-a96d-05e885794690/_packaging/Inlog_Packages/npm/registry/:username=grupo-inlog
//pkgs.dev.azure.com/grupo-inlog/a3f6bb22-14ee-4af8-a96d-05e885794690/_packaging/Inlog_Packages/npm/registry/:_password=[aWFtdG1zYjd6Ym03cW8ybGJ6cDNiYmRuNzRwa3dnM2V3cDJrN3k3eDVyYnBpN3Y0eXB4YQ==]
//pkgs.dev.azure.com/grupo-inlog/a3f6bb22-14ee-4af8-a96d-05e885794690/_packaging/Inlog_Packages/npm/registry/:email=jeandro.couto@inlog.com.br
//pkgs.dev.azure.com/grupo-inlog/a3f6bb22-14ee-4af8-a96d-05e885794690/_packaging/Inlog_Packages/npm/:username=grupo-inlog
//pkgs.dev.azure.com/grupo-inlog/a3f6bb22-14ee-4af8-a96d-05e885794690/_packaging/Inlog_Packages/npm/:_password=[aWFtdG1zYjd6Ym03cW8ybGJ6cDNiYmRuNzRwa3dnM2V3cDJrN3k3eDVyYnBpN3Y0eXB4YQ==]
//pkgs.dev.azure.com/grupo-inlog/a3f6bb22-14ee-4af8-a96d-05e885794690/_packaging/Inlog_Packages/npm/:email=jeandro.couto@inlog.com.br
; end auth token